*{
    margin: 0;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    background-color: rgb(196, 167, 8);
    width: 100%;
    /* border: 8px solid black; */
    height: 100px;
    display: block;
    display: flex;
    position: fixed;
}

.container__img{
    left: 0;
    /* border: 4px solid red; */
    width: 244px;
    height: 100px;
}

#header-img{
    max-width: 100%;
    height: 90px;
    /* border: 4px solid blue; */
}

#nav-bar{
    right: 0;
    position: absolute;
    width: auto;
    height: 100px;
    /* border: 4px solid blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-size: 25px;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    color: black;
    /* outline: 1px solid green; */
}

#form{
    /* border: 2px solid red; */
    padding-top: 100px;
}    

#email, #submit{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.phrase{
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

#email{
    width: 300px;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#submit{
    width: 150px;
    height: 25px;
    background-color: yellow;
    font-weight: bold;
}

#submit:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

.container-infor{
    /* border: 2px solid red; */
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.container-infor__elem{
    /* border: 2px solid black; */
    display: flex;
    margin-top: 15px;
}

.container-infor__logos{
    /* border: 2px solid rgb(196, 167, 8);  */
    padding-left: 5%;
    padding-right: 5%;
} 

.container-infor__logos-img{
    width: 75px;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.container-infor__text{
    /* border:  2px solid skyblue; */
    padding-left: 5%;
    padding-right: 5%;
} 

.container-infor__text-h2, .container-prices__element-h2{
    font-size: 20px;
}

#video-container{
    /* border: 2px solid red; */
    height: 425px;
    width: 55%;
    margin: 0 auto;
}

.video-container-iframe{
    border: 2px solid goldenrod;
    /* padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-top: 4%; */
    margin: 0 auto;
    width: 100%;
    height: 425px;
    /* margin-bottom: 50px; */
}

.container-prices__element-h2{
    text-align: center;
    background-color: rgb(128, 128, 128);
}
.container-prices{
    width: 75%;
    border: 2px solid red;
    margin: 0 auto;
    display: block;
    display: flex;
}

.container-prices__element{
    display: block;
    border: 2px solid green;
    width: 275px;
    margin-left: 25px;
    margin-right: 25px;
    margin: 0 auto;
}

.container-prices__element-img{
    /* border: 2px solid brown; */
    max-width: 100%;
    height: auto;
    text-align: center;
}

.container-prices__element-price, .container-prices__element-det{
    text-align: center;
}

.element-btn{
    margin: 0 auto;
}
/* #container-prices__element-btn{
    width: 50%;
    margin: 0 auto;
} */