*{
    margin: 0;
    padding: 0;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    background-color: rgb(196, 167, 8);
    width: 100%;
    height: 100px;
    display: block;
    display: flex;
    position: fixed;
}

.container__img{
    left: 0;
    width: 244px;
    height: 100px;
}

#header-img{
    max-width: 100%;
    height: 90px;
}

#nav-bar{
    right: 0;
    position: absolute;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-size: 25px;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    color: black;
}

#form{
    padding-top: 100px;
}    

#email, #submit{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.phrase{
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

#email{
    width: 45%;
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#submit{
    width: 150px;
    height: 25px;
    background-color: yellow;
    border: 0;
    font-weight: bold;
}

#submit:hover, #container-prices__element-btn:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

.container-infor{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.container-infor__elem{
    display: flex;
    margin-top: 15px;
}

.container-infor__logos{
    padding-left: 5%;
    padding-right: 5%;
} 

.container-infor__logos-img{
    width: 75px;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.container-infor__text{
    padding-left: 5%;
    padding-right: 5%;
} 

.container-infor__text-h2, .container-prices__element-h2{
    font-size: 20px;
}

#video-container{
    height: 425px;
    width: 55%;
    margin: 0 auto;
}

.video-container-iframe{
    margin: 0 auto;
    width: 100%;
    height: 425px;
}

.container-prices__element-h2{
    text-align: center;
    background-color: rgb(128, 128, 128);
}
.container-prices{
    width: 75%;
    margin: 0 auto;
    display: block;
    display: flex;
}

.container-prices__element{
    display: block;
    outline: 3.5px solid black;
    width: 25%;
    margin-left: 15%;
    margin-right: 15%;
    margin: 0 auto;
}

.container-prices__element-img{
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0px auto;
}

.container-prices__element-price, .container-prices__element-det{
    text-align: center;
}

#container-prices__element-btn{
    background-color: yellow;
    display: block;
    width: 75%;
    height: 35px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    border: 0;
} 

.footer{
    width: 75%;
    height: 75px;
    margin: 0px auto; 
    margin-top: 50px;
    background-color: darkgray;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}